/* Write your CSS here */

/* Write your CSS here */
.main {
  background-color: #ffd569;
  background-size: cover;
  height: 100vh;
  padding: 70px;
}

.sub {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  color: #000000;
  text-align: center;
}

.yellow {
  color: #ffd569;
}
.piccont {
  display: flex;
  justify-content: center;
}
.btn {
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  padding: 2px;
  border-width: 0px;
  width: 100px;
  margin: 8px;
  margin-left: 10px;
}
.img {
  height: 200px;
  width: 150px;
}

.fruitbtncont {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
